// Common sizes
$padding-common: 18px 20px;
$border-radius-common: 20px;
$width-common: 35px;
$height-common: 35px;
$min-width-common: 335px;
$line-height-common: 1.5;
$line-height-large: 1.3;
$font-size-common: 16px;
$font-size-large: 24px;
$gap-common: 10px;

// Common colors
$background-color-common: #fff;
$border-color-common: #d4343f;
$color-secondary: #979797;
$color-primary: #333;
$color-inverse: #fff;
$color-info: #007bff;
$color-danger: #dc3545;

// Shadow
$box-shadow-common: 2px 2px 16px rgba(0, 0, 0, 0.2);
