@mixin flex-center {
	display: flex;
	justify-content: space-between;
}

@mixin btn-reset {
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.page {
	padding: 32px 0;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 750px;
}

.row {
	@include flex-center;
	margin-bottom: 20px;

	.logo {
		text-transform: uppercase;
		line-height: 1.5;
	}

	.info-btn {
		@include btn-reset;
	}
}

.fon-line {
	position: relative;
	margin-bottom: 30px;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: 150px;
		background: linear-gradient(180deg, #d2333e 0%, #f54b55 100%);
	}
}
